<%- include('./header')%>

    <%- include('./Navbar/navbar')%>

        <div class="container m-auto py-3">
            <div class="row justify-content-center">
                <div class="col-md-8">

                    <div class="card card-body shadow-sm">

                        <h2>Dashboard</h2>
                        <form action="/search" class="my-2">
                            <div class="input-group mb-3 input-group-lg">
                                <div class="input-group-prepend">
                                    <button type="submit" class="input-group-text">Search</button>
                                </div>
                                <input type="search" id="search" name="search" placeholder="Searching..." value="" class="form-control">
                            </div>
                        </form>
                        <% if(typeof data != 'undefined'){%>
                            <% data.forEach(function(student){%>
                                <a href="/student/<%= student.id%>" class="text-decoration-none list-group-item-actions my-1 shadow-sm border-3x p-3 d-flex justify-content-between align-items-center flex-wrap">
                                    <span><%= student.name %></span>
                                    <span><%= student.firstName %></span>
                                    <span><%= student.classe %></span>
                                </a>
                                <%})%>
                                    <%} else{%>
                                        <p>
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quod deleniti minima earum placeat. Harum perspiciatis fugit, ut pariatur deserunt labore, amet magni, modi ex nemo numquam unde nam quasi sint sed obcaecati dignissimos voluptate eaque. Laboriosam
                                            et nulla facere nam aut aperiam totam. Asperiores assumenda obcaecati voluptates aut delectus! Qui animi illum beatae distinctio aspernatur, esse perferendis voluptates officia dolores nam quod atque accusamus
                                            eligendi quidem est dignissimos deleniti inventore provident fuga sint ipsum recusandae nemo. Alias nam dolorum ullam enim ad unde quibusdam eveniet, aspernatur ducimus, laudantium explicabo ut?
                                        </p>
                                        <%}%>
                    </div>
                </div>
            </div>
        </div>

        <%- include('./footer')%>

            <script>
                const searchBtn = document.querySelector('#search')

                searchBtn.onkeyup = (e) => {
                    let text = e.target.value
                    fetch('http://localhost:7000/search?search=' + text)
                        .then(res => console.log("Searching: " + res))
                        .catch(e => console.log(e))
                }
            </script>